<h2>Car Dealers</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Phone</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let d of dealers">
        <td>
            {{d.name}}
        </td>
        <td>
            {{d.city}}
        </td>
        <td>
            {{d.country}}
        </td>
        <td>
            {{d.phone}}
        </td>
        <td>
                <a class="btn btn-warning" routerLink="/changedealer/{{d._id}}" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" >
                        Update</a>
            <a class="btn btn-danger" (click)="deleteDealer(d)"  >
                     Delete</a>
        </td>
    </tr>
</tbody>
</table>
<a  class="btn btn-primary" routerLink="/adddealer" routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }">Add Dealer </a>