<div class="row">
    <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let ad of ads">
        <div class="card h-100">
            <img class="card-img-top" src="../../assets/images/placeholder-car.png" alt="car placeholder">
            <div class="card-body">
                <h5 class="card-title">{{ad.make}} - {{ad.model}}</h5>
                <p class="card-text">{{ad.type}}</p>
                <a class="btn btn-primary"  routerLink="/ad/{{ad._id}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bekijk details</a>
                <a *ngIf="loggedIn" class="btn btn-danger ml-1" (click)="addFavoriteCar(ad)">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>