.jumbotron{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../assets/images/jumbotron-background.png");
    background-size: cover;
    background-position: center;
}
