<!-- <h2>Zoek een auto</h2> -->
<form [formGroup]="carForm"  >
    <p>{{ carForm.value | json}}</p>
<div class="row">
    <div class="bs col-lg-4">
        <mat-card class="cardZoeken">
            <mat-card-header>
              <mat-card-title>Zoeken</mat-card-title>
              <!-- <mat-card-subtitle></mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Merk
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-selection-list class="scrollableList" formControlName="make" #make  (click)="onSelectionChangeMake(make._value)">
                          <mat-list-option *ngFor="let make of allMakes" [value]="make.make_id">
                            {{make.make_display}}
                          </mat-list-option>
                      </mat-selection-list>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <mat-accordion class="myAccordion">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Jaar
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-selection-list class="scrollableList" formControlName="year" #year (selectionChange)="onSelectionChangeYear(year._value)">
                            <mat-list-option *ngFor="let year of allYears" [value]="year">
                              {{year}}
                            </mat-list-option>
                        </mat-selection-list>
                      </mat-expansion-panel>
                    </mat-accordion>
            </mat-card-content>
          </mat-card>
</div>

<div class="bs col-lg-8">
  <mat-card class="cardModelsAuto">
    <mat-card-header>
      <mat-card-title>Automodellen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Merk - Model
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list class="scrollableList" formControlName="model" #model  >
                  <mat-list-option *ngFor="let model of allModels" [value]="model.model_name">
                      {{model.model_make_id}} - {{model.model_name}}
                  </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>


          <!-- <mat-form-field>
              <mat-label>Merk - Model</mat-label>
              <mat-select>
                <mat-option *ngFor="let model of allModels" [value]="model.model_name">
                    {{model.model_make_id}} - {{model.model_name}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
        
      <!-- <mat-list>
        <mat-list-item *ngFor="let model of allModels" [value]="model.model_name" >
            <mat-accordion class="myAccordion">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{model.model_name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  **komt de info**
                </mat-expansion-panel>
              </mat-accordion>
        </mat-list-item>
      </mat-list> -->





    </mat-card-content>
  </mat-card>
</div>
</div>

</form>
