<!-- <h2>Zoek een auto</h2> -->
<form [formGroup]="carForm"  >
    <p>{{ carForm.value | json}}</p>
<div class="row">
    <div class="bs col-lg-4">
        <mat-card class="cardZoeken">
            <mat-card-header>
              <mat-card-title>Zoeken</mat-card-title>
              <!-- <mat-card-subtitle></mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Merk
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-selection-list class="scrollableList" formControlName="make" #make  (click)="onSelectionChangeMake(make.value)">
                          <mat-list-option *ngFor="let make of listMakes" [value]="make">
                            {{make}}
                          </mat-list-option>
                      </mat-selection-list>
                    </mat-expansion-panel> 
                  </mat-accordion>
                  <mat-accordion class="myAccordion">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Jaar
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-selection-list class="scrollableList" formControlName="year" #year (selectionChange)="onSelectionChangeYear(year.value)">
                            <mat-list-option *ngFor="let year of allYears" [value]="year">
                              {{year}}
                            </mat-list-option>
                        </mat-selection-list>
                      </mat-expansion-panel> 
                    </mat-accordion>
            </mat-card-content>
          </mat-card>

        <!-- <label>Merk:</label>
        <select class="form-control" *ngIf="listMakes" formControlName="make" #make (change)="onChooseMake(make.value)">
            <option value="" disabled selected>Selecteer een merk </option>
          <option *ngFor="let make of listMakes" [value]="make">
            {{make}}
          </option>
        </select>
    
    
        <div *ngIf="filterYear">
            <label>Jaartal:</label>
            <select class="form-control" *ngIf="yearsMinMax" formControlName="year" #year (change)="onChooseYear(year.value)">
                <option value="" disabled selected>Selecteer een jaar </option>
              <option *ngFor="let year of allYears" [value]="year">
                {{year}}
              </option>
            </select>
        </div>-->
</div>

<div class="bs col-lg-8">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">Auto's</div>
        <div class="card-body">
            <div>
              *Hier komen de modellen en bijhorende info*
            </div>
        </div>
    </div>
</div>
</div>
          
</form>
