<div class="row">
    <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let ad of ads">
        <div class="card h-100">
            <img class="card-img-top" src="../../assets/images/placeholder-car.png" alt="car placeholder">
            <div class="card-body">
                <h5 class="card-title">{{ad.make}} - {{ad.model}}</h5>
                <p class="card-text">{{ad.type}}</p>
                <div>
                    <a class="btn btn-primary" routerLink="/ad/{{ad._id}}" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                    <a class="btn ml-1 btn-info" (click)="setModal(ad._id)" data-toggle="modal" data-target="#modal">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </a>
                    <a class="btn ml-1 btn-danger" (click)="deleteAd(ad._id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Foating button -->
<div>
    <a class="btn btn-primary float" (click)="setModal(0)" data-toggle="modal" data-target="#modal">
        <fa-icon class="mb-0" [icon]="faPlus"></fa-icon>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #form="ngForm" (ngSubmit)="checkSave(nAd._id)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" name="make" placeholder="Enter make"
                            value={{nAd.make}} [(ngModel)]="nAd.make" required>
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" name="model" placeholder="Enter model"
                            value={{nAd.model}} [(ngModel)]="nAd.model" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" id="type" name="type" placeholder="Enter type"
                            value={{nAd.type}} [(ngModel)]="nAd.type" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="number" min="1900" max="2019" class="form-control" id="year" name="year" placeholder="Enter year"
                            value={{nAd.year}} [(ngModel)]="nAd.year" required>
                    </div>
                    <div class="form-group">
                        <label for="transmission">Transmission</label>
                        <input type="text" class="form-control" id="transmission" name="transmission" placeholder="Enter transmission"
                            value={{nAd.transmission}} [(ngModel)]="nAd.transmission" required>
                    </div>
                    <div class="form-group">
                        <label for="cc">CC</label>
                        <input type="number" min="0" class="form-control" id="cc" name="cc" placeholder="Enter cc"
                            value={{nAd.cc}} [(ngModel)]="nAd.cc" required>
                    </div>
                    <div class="form-group">
                        <label for="hp">HP</label>
                        <input type="number" min="0" class="form-control" id="hp" name="hp" placeholder="Enter hp"
                            value={{nAd.hp}} [(ngModel)]="nAd.hp" required>
                    </div>
                    <div class="form-group">
                        <label for="doors">Doors</label>
                        <input type="number" min="2" class="form-control" id="doors" name="doors" placeholder="Enter doors"
                            value={{nAd.doors}} [(ngModel)]="nAd.doors" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>