<div class="row">
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let ad of ads">
        <div class="card h-100">
            <img class="card-img-top" src="../../assets/images/placeholder-car.png" alt="car placeholder">
            <div class="card-body">
                <h5 class="card-title">{{ad.make}} - {{ad.model}}</h5>
                <p class="card-text">{{ad.type}}</p>
                <div>
                    <a class="btn btn-primary"  routerLink="/ad/{{ad._id}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="faSearch"></fa-icon></a>
                    <a class="btn ml-1 btn-info" routerLink="/updateAd/{{ad._id}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="faEdit"></fa-icon></a>
                    <a class="btn ml-1 btn-danger" (click)="deleteAd(ad._id)"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>